.game-tooltip-item {
    z-index: 30;
    width: 100%;
    max-width: 380px;
    padding: 0 0 20px;
    background-color: #2a2c35;
    box-sizing: border-box;
    border: 1px solid #1c1f2a;
    color: #fff;
    font-size: 14px;
}